@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,200;1,300&display=swap');


*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-transform: capitalize;
}
html,body{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}
body{
    background:rgba(163, 240, 208, 0.531);
}

.main{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgb(65, 224, 187);
    background: black;
    font-size: 30px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    }

:root{
    --green:rgb(73, 144, 137);
    --darkcolor :rgb(4, 45, 33);
    --black :#444;
    --light-color:#666;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,0.1);
}



html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background:transparent;
}
html::-webkit-scrollbar-track{
    background:var(--black);
}
section{
    padding: 5rem 9%;
}
.header .header-1{
    background:black;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
justify-content: space-between;
}
.header  .header-1 h1{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--green);
}
 .header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
 }
 .header .header-1 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}
.header .header-1 .search-form label 
{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color-scheme: var(--black);
    cursor: pointer;
}
.header .header-1 .search-form label:hover{
    color: var(--green);
}
.header .header-1 .icons div , .header .header-1 .icons a{
    font-size:2.5rem ;
    margin-left: 1.5rem;
    color: var(--green);
    cursor: pointer;
}
.header .header-1 .icons div:hover , .header .header-1 .icons a:hover{
color: whitesmoke;
}
#search-btn{
    display: none;
}

.header .header-2 .navbar{
    text-align: center;
    background: #000;
    height: 50px;
}
.header .header-2 .navbar a{
    color:var(--green);
    /*display: inline-block;*/
    padding: 1.2rem;
    font-size: 2rem;
    text-decoration: none;
    transition: border 0.2s linear;
    list-style: none !important;
}


.header .header-2 .navbar a:hover{
border-bottom:2px solid #000;
    color: bisque;

}


.header .header-2.active{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
.bottom-navbar{
    text-align: center;
    background: var(--green);
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2rem;
    padding: 2.5rem;
    color: antiquewhite;
}
.bottom-navbar a:hover{
    color:var(--darkcolor);
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    right: -105%;
    position: fixed;
    z-index: 10000;
    background: rgba(255,255,255,0.9);
}
.login-container form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}
.login-container form h3{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: var(--black);
    text-transform: uppercase;
}
.login-container form span{
    display: block;
    padding-top:1rem ;
    font-size: 1.5rem;
    color: var(--black);
}
.login-container form .box{
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    color: var(--black);
    text-transform: none;
    width: 100%;
}
.login-container form .checkbox{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}
.login-container form .checkbox label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius:.5rem ;
    color: whitesmoke;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}
.btn:hover{
    background: var(--darkcolor);
}
.login-container form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}
.login-container form p{
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}
.login-container form p a{
color: var(--darkcolor);
text-decoration: underline;

}
.login-container form p a:hover{
    color:var( --darkcolor);
}
.login-container #close-login-btn{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size:5rem ;
    color: var(--black);
    cursor: pointer;
}

.login-container.active{
    right: 0;
}
#home h1{
    color: #000; 
    font-size: 6rem;
    font: bolder;
}

 img{
    height: 20rem;
    width: 30rem;
    box-shadow: var(--box-shadow);
}
section img:hover{
    transform: scale(1.1) ;
    transition: all 0.5s ease;
    cursor: pointer;

}
 #home .image #pic1{
    left: 80rem;
    right:0;
    position: relative;
    bottom: 190px;
    
 }
 #home .image #pic2{
    left: 30rem;
    right:0;
    position: relative;
    top: 3rem;
 }
.features{
    width: 100%;
}
.features .intro-text{
    text-align: center;
    font-size: 10rem;
    width: 0ch;
    overflow: hidden;
    margin: 0 auto;
    white-space: wrap;
    background-image: linear-gradient(155deg, #2b241f, #0c3d12, #532a00);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.features .intro-text.active{
    animation: typeIn 2s forwards;
}
@keyframes typeIn {
    to { width: 16ch; }
}

.features .box{
    width: 50rem;
    height: 25rem;
    text-align: center;
    margin: 10rem 0;
    margin-left: calc(50% - 100px);
    transition: transform 0.5s, opacity 0.5s;
    color: #080808;
    font-weight: bold;
    font-size: 2rem;
}
.features .box:hover{
    transform: scale(1.1) ;
    transition: all 0.5s ease;
    cursor: pointer;

}

.features .box.left{
    transform: translateX(-100px);
    opacity: 0;
    background-color: transparent;
   /* border:2px solid black;*/
    box-shadow: var(--box-shadow);
}
.features .box.right{
    transform: translateX(100px);
    opacity: 0;
    background-color:transparent;
    /*border: 2px solid black;*/
    box-shadow: var(--box-shadow);
}
.features .box.top{
    transform: translateY(-100px) rotate(360deg);
    opacity: 0;
    background-color:transparent;
   /* border:2px solid black;*/
    box-shadow: var(--box-shadow);
}
.features .box.bottom{
    transform: translateY(100px) scaleX(3);
    opacity: 0;
    background: transparent;
    /*border: 2px solid black;*/
    box-shadow: var(--box-shadow);
}
.features .box.active{
    transform: translateX(0);
    opacity: 1;
}

.features .box.left .image{
    display: flex;
    position: relative;
    right: 500px;
    bottom:130px;
}

.features .box.right .image{
    display: flex;
    position: relative;
    right: 500px;
    bottom: 110px;
}
.features .box.top .image{
    display: flex;
    position: relative;
    right: 500px;
    bottom: 130px;
}
.features .box.bottom .image{
    display: flex;
    position: relative;
    right: 500px;
    bottom: 150px;
}
.blogs h1 {
    text-align: center;
    font-size: 10rem;
    margin: 0 auto;
    color: #0c3d12;
}

.blogs .blogs-slider .box {

    border: var(--border);
    margin: 2rem 0;
}

.blogs .blogs-slider .box:hover {
    border: var(--border-hover);
}

.blogs .blogs-slider .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .blogs-slider .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .blogs-slider .box:hover .image img {
    transform: scale(1.1);

}

.blogs .blogs-slider .box .content {
    padding: 1.5rem;
    gap: 1.5rem;
}

.blogs .blogs-slider .box .content h3 {
    font-size: 2.2rem;
    color: var(--black);
}

.blogs .blogs-slider .box .content p {
    font-size: 1.2rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 2;
}

.swiper-wrapper {
    width: 26%;
}








.intro-text{
    font-size: 9rem;
    font-weight: 900;
    text-align: center;
    color: #0c3d12;
   
}

.container{
    max-width: 1200;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.container__left h1{
    margin-bottom: 2rem;
    font-size: 5.5rem;
    font-weight: 700;
    color: var(--primary-color);
}
.container__left p{
    color: var(--text-dark);
    margin-bottom: 5rem;
    font-size: 2rem;
    font-weight: 700;
    
}
.container__left button{
    padding: 1re 4rem;
    margin-top: 4rem;
    outline: none;
    border: none;
    border-radius: 6px;
    background: #666;
    font-size: 4rem;
    font-weight: 700;
    cursor: pointer;
}
.container__right{
    display: grid;
    gap: 2rem;
}
.card{
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    border-radius: 1 rem;
    box-shadow: 5px 5px 20px rgba(red, green, blue, alpha);
    cursor: pointer;
}
.card img{
    max-width: 75px;
    border-radius: 100%;
}
.card__content{
    display: flex;
    gap: 1rem;
}
.card__content span i{
    font-size: 2rem;
    color: var(--primary-color);
}

.card__details p {
    
    color: var(--text-dark);
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 600;
}
.card__details h4 {
    text-align: right;
    color: var(--primary-color);
    font-size: 4rem;
    font-weight: 1000;
}

.footer{
    background-color: #000;
}

.footer .box-container{
    display: grid;
grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
gap: 0.5rem;
}

.footer .box-container .box h3{ 
    font-size: 2.2rem;
    color: white;
    padding: 1rem 0;
}
.footer .box-container .box a{ 
    display: block;
    font-size: 1.4rem;
    color: rgb(114, 221, 114);
    padding: 1rem 0;
}
.footer .box-container .box a i{
    color: var(--blue);
    padding-right: 0.5rem;
}
.footer .box-container .box a:hover i{
    color: var(--darkcolor);
    padding-right: 2rem;
}





































































/*media queries*/
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header .header-1{
        padding: 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
}
@media(max-width:768px){
    html{
        scroll-padding-top: 0;
    }
    body{
        padding-bottom: 6rem;
    }
    .header .header-2{
        display: none;
    }
    .bottom-navbar{
        display: block;
    }
    #search-btn{
        display: inline-block;
    }
    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
}
.header .header-1 .search-form{
    position: absolute; 
    top: -115%; right: 2rem;
    width: 90%;
    box-shadow: var(--box-shadow);
}
}